<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
    <script>
      function addDarkmodeWidget() {
        const options = {
          bottom: '64px', // default: '32px'
          right: '32px', // default: '32px'
          left: 'unset', // default: 'unset'
          time: '0.5s', // default: '0.3s'
          mixColor: '#fff', // default: '#fff'
          backgroundColor: '#223f01',  // default: '#fff'
          buttonColorDark: '#100f2c',  // default: '#100f2c'
          buttonColorLight: '#fff', // default: '#fff'
          saveInCookies: true, // default: true,
          checkSystemScheme: true,
          label: '🌓', // default: ''
          autoMatchOsTheme: true // default: true
        }
  
        const darkmode = new Darkmode(options);
        darkmode.showWidget();
  
      }
      window.addEventListener('load', addDarkmodeWidget);
    </script>
  </body>
</html>
