---
layout: default
---
<article>
<div class="post">
    <p class="LatexTitle">{{ page.title }}</p>
    {% if page.author %} <p class="LatexName">{{ page.author }}</p> {% endif %}
    {% if post.date %} <p class="LatexDate">{{ post.date }}</p> {% endif %}
    
    {% if page.abstract %}<div class="AbstractMargins">
      <p class="LatexAbstract">Abstract</p>
      <p class="LatexAbstractText">{{ page.abstract }}</p>
    </div>{% endif %}

    
    {{ content | toc }}


</div>
</article>
{% if site.related_posts.size >= 1 %}
<nav>
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
</nav>
{% endif %}
